@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "~/Views/Shared/_newsLayoutEN.cshtml";
}

@{
    ViewData["Title"] = "Latest News";
    ViewData["MetaTitle"] = "訊聯細胞智藥-再生醫療製劑、細胞製劑、外泌體Exosome(訊聯生技集團)";
    ViewData["MetaDescription"] = "訊聯細胞智藥股份有限公司為訊聯集團旗下訊聯生技、訊聯基因數位2家公司，整合3大核心能力「再生醫學/細胞治療」、「精準健康/基因醫學」、「數位科技/智慧研發」的新引擎，主攻再生醫療製劑、細胞製劑、智慧研發、智慧健康、外泌體Exosome、基因及細胞治療等先進療法，滿足全球更廣大的健康需求。目前7款細胞治療製劑開發中：急性呼吸窘迫症候群ARDS、肺部纖維化、慢性腎衰竭、急性傷口修復、慢性傷口癒合、退化性關節炎、乾眼症";
    ViewData["MetaKeywords"] = "訊聯生技集團, 訊聯,細胞智藥,細胞製劑,再生醫療製劑,外泌體,Exosome,急性呼吸窘迫症候群,ARDS,肺部纖維化,慢性腎衰竭,急性傷口修復,慢性傷口癒合,糖尿病足潰瘍,退化性關節炎,乾眼症,CDMO";
    ViewData["MetaOgTitle"] = "訊聯細胞智藥";
    ViewData["MetaOgDescription"] = "訊聯細胞智藥";
}

<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="filters">
                            <ul>
                                <li data-filter=".soon">Press Release</li>
                                <li data-filter=".imp">Events</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12"  >
                        <div class="row grid" id="photos__container">
                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=341" target="_blank">
                                            <img src="~/assets/images/news-list241204001.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/12/04</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=341" target="_blank">
                                            <h4 class="mb-4">
                                                BIONET Therapeutics (7808), the first exosome and AI-driven R&D company, is now listed on the Emerging Stock Board, fostering industry-wide collaboration in exosome regenerative medicine.


                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=337" target="_blank">
                                            <img src="~/EN/assets/images/news-list30.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/11/06</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=337" target="_blank">
                                            <h4 class="mb-4">
                                                2024.11.15-11.17 TDA 50th Annual Meeting


                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            @* 2024.9.28~9.29 台灣美容外 *@
                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=331" target="_blank">
                                            <img src="~/assets/images/news-list29.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/09/18</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=331" target="_blank">
                                            <h4 class="mb-4">
                                                2024.9.28~9.29 TSAPS International Annual Meeting.


                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>


                          @*   2024再生醫學論 *@
                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://bit.ly/3TkLzIr" target="_blank">
                                            <img src="~/EN/assets/images/news-list28.svg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/09/11</h6>
                                        </div>
                                        <a href="https://bit.ly/3TkLzIr" target="_blank">
                                            <h4 class="mb-4">
                                                2024 Regenerative Medicine Forum: Exosome Aesthetics & New Drug Development
                                                Trends
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                           @*  2024.9.13~9.15 國際皮膚 *@
                            <div  class="photo col-lg-4 templatemo-item-col all imp">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=330" target="_blank">
                                            <img src="~/EN/assets/images/news-list27.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/09/03</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=330" target="_blank">
                                            <h4 class="mb-4">
                                                2024.9.13~9.15 43th Annual Meeting of the ISDS
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=326" target="_blank">
                                            <img src="~/assets/images/news-list26.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/07/26</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=326" target="_blank">
                                            <h4 class="mb-4">
                                                Exosome Foundry Shines at Biotech Expo, Attracting Broad Industry Interest.


                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                          @*   2024/06/17再生醫學 *@
                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://youtu.be/YssErvDTF8Y" target="_blank">
                                            <img src="~/EN/assets/images/news-list25.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/07/23</h6>
                                        </div>
                                        <a href="https://youtu.be/YssErvDTF8Y" target="_blank">
                                            <h4 class="mb-4">
                                                June 17, 2024, Regenerative Medicine "Master Forum on New Drug Development"
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            @*  2024/06/16再生醫學 *@
                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://youtu.be/ihkQqu3pxck" target="_blank">
                                            <img src="~/EN/assets/images/news-list24.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/07/23</h6>
                                        </div>
                                        <a href="https://youtu.be/ihkQqu3pxck" target="_blank">
                                            <h4 class="mb-4">
                                                June 16, 2024, Regenerative Medicine "Exosome Aesthetic Forum"
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div  class="photo col-lg-4 templatemo-item-col all imp">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=320" target="_blank">
                                            <img src="~/assets/images/news-list23.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/07/23</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=320" target="_blank">
                                            <h4 class="mb-4">
                                                2024/07/26 Exosome Foundry Demo Day.

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            @* 訊聯生技將借道「捷克」 *@
                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=322">
                                            <img src="~/EN/assets/images/news-list22.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/07/03</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=322">
                                            <h4>BIONET enters Europe via the Czech Republic.We will make exosomes like TSMC's word factory and export them to the world.
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=318" target="_blank">
                                            <img src="~/assets/images/news-list21.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/06/25</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=318" target="_blank">
                                            <h4 class="mb-4">
                                                Cord Blood Exosomes - Doctor: One of the Best Sources of Exosomes is in Obstetrics!


                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=317" target="_blank">
                                            <img src="~/assets/images/news-list20.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/06/25</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=317" target="_blank">
                                            <h4 class="mb-4">
                                                Exosome Foundry and the World’s Factory Create a Golden Era for Exosomes!


                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=319" target="_blank">
                                            <img src="~/assets/images/news-list19.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/06/25</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=319" target="_blank">
                                            <h4 class="mb-4">
                                                World's Only! Elly, Daughter of Actress Dee Hsu, Receives the Most Beautiful Graduation Gift – Cord Blood Exosomes.

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=313" target="_blank">
                                            <img src="~/assets/images/news-list18.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/05/30</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=313" target="_blank">
                                            <h4 class="mb-4">
                                                Aesthetic Medicine Meets Exosomes! Post-Procedure Care Trend Boosts Collagen by 80%.



                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                           @*  6/16-6/17 外泌體醫美 *@
                            <div  class="photo col-lg-4 templatemo-item-col all imp">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/article?ac_id=33&ac_sub_id=99&a_id=263" target="_blank">
                                            <img src="~/EN/assets/images/news-list17.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/05/23</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/article?ac_id=33&ac_sub_id=99&a_id=263" target="_blank">
                                            <h4 class="mb-4">
                                                6/16-6/17 Exosome Aesthetics and Master Forum on New Drug Development

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=308" target="_blank">
                                            <img src="~/assets/images/news-list16.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/5/23</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=308" target="_blank">
                                            <h4 class="mb-4">
                                                Accelerating New Drug Development: Huge Business Opportunities, Biotech Industry Gears Up.



                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList15", "EN" )">
                                            <img src="~/assets/images/news-list15.svg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/4/2</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList15", "EN" )">
                                            <h4 class="mb-4">
                                                Syncell's Exosome Drug for Dry Eye Gains CDE Guidance; Phase II Approval for Pulmonary Fibrosis Stem Cell Drug.




                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>



                            <div  class="photo col-lg-4 templatemo-item-col all imp">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <!--<a href="event-list1-details.html"><img src="~/EN/assets/images/event-list1.svg" alt=""></a>-->
                                        <a href="https://www.youtube.com/watch?v=fqlHOW15LHs" target="_blank">
                                            <img src="~/EN/assets/images/event-list1.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/04/01</h6>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=fqlHOW15LHs" target="_blank">
                                            <h4 class="mb-4">International guidelines and comprehensive testing for high-quality exosome production.</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="news-list15-details.html"><img src="~/EN/assets/images/news-list15.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/3/29</h6>
                                        </div>
                                        <a href="news-list15-details.html">
                                            <h4>
                                          
                                                    BIONET and Univercells Technologies's collaboration propels
                                                    mass production of exosomes with scale-X™ bioreactor integration
                       


                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            @* 創新生物藥開發 *@
                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=303" target="_blank">
                                            <img src="~/EN/assets/images/news-list14.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/3/25</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=303" target="_blank">
                                            <h4>
                                              
                                                    Regulatory Guidelines for Innovative Biopharmaceuticals and
                                                    Advanced Manufacturing: Perspectives and Insights.
                       
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>






                            <div  class="photo col-lg-4 templatemo-item-col all imp">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=302" target="_blank">
                                            <img src="~/EN/assets/images/news-list13.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/03/22</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=302" target="_blank">
                                            <h4 class="mb-4">
                                                2024.6.3~6.6 - BIO International Convention
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div  class="photo col-lg-4 templatemo-item-col all imp">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=301" target="_blank">
                                            <img src="~/EN/assets/images/news-list12.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/03/21</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=301" target="_blank">
                                            <h4 class="mb-4">
                                                2024.4.23~4.26 CI KOREA
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div  class="photo col-lg-4 templatemo-item-col all imp">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=300" target="_blank">
                                            <img src="~/EN/assets/images/news-list11.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2024/03/20</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=300" target="_blank">
                                            <h4 class="mb-4">
                                                2024.4.17~4.19 CPHI Japan
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>


 

                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=296" target="_blank">
                                            <img src="~/EN/assets/images/news-list10.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1" >
                                            <h6 class="text-start">2024/1/22</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=296" target="_blank">
                                            <h4 class="mb-4">
                                                Major Medical News.


                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/article?ac_id=33&ac_sub_id=94" target="_blank">
                                            <img src="~/EN/assets/images/news-list9.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/12/20</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/article?ac_id=33&ac_sub_id=94" target="_blank">
                                            <h4 class="mb-4">
                                                2023 Exosome Conference Highlights: New Trends in Taiwan's Exosome Field.


                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>



                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList7","EN")"><img src="~/EN/assets/images/news-list7.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/11/27</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList7","EN")">
                                            <h4 class="mb-4">
                                                BIONET collaborates with Metapore to jointly target the rapidly growing global exosome
                                                market.
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=292">
                                            <img src="~/EN/assets/images/news-list8.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/11/20</h6>
                                        </div>
                                        <a href="https://www.bionetcorp.com/news_detail?n_id=292">
                                            <h4 class="mb-4">
                                                Exosomes Combined with CRDMO: Taiwan's Key to Success in the Next Decade.


                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>



                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList6", "EN" )"><img src="~/EN/assets/images/news-list6.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/8/23</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList6", "EN" )">
                                            <h4 class="mb-4">
                                                Adipose Stem Cells Treat Joint Degeneration; 80-Year-Old Regains Knee Strength in Two Weeks, Attracting Chinese Americans to Taiwan.


                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>



                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList5", "EN" )"><img src="~/EN/assets/images/news-list5.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/8/9</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList5", "EN" )">
                                            <h4 class="mb-4">
                                                BIONET Corp. Achieves Record Revenue, Advancing Exosome Regenerative Medicine and Smart R&D; Targeting 'i369 Strategic Goals' for a Golden Decade.

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList4", "EN" )"><img src="~/EN/assets/images/news-list4.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/04/19</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList4", "EN" )">
                                            <h4 class="mb-4">
                                                Taiwan's First: Exosomes and Mesenchymal Stem Cells Treat Horse Tendon Injuries; New Exosome Therapy for Arthritis in Cats and Dogs.

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList2", "EN" )"><img src="~/EN/assets/images/news-list2.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2022/11/28</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList2", "EN" )">
                                            <h4 class="mb-4">
                                                BIONET Corp. Accelerates BIONETTX Regenerative Medicine Development.

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList1", "EN" )"><img src="~/EN/assets/images/news-list1.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2022/11/22</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList1", "EN" )">
                                            <h4 class="mb-4">
                                                GGA's Profits Double, Boosting BIONET Corp.'s Exosome Applications to Accelerate Regenerative Medicine Development.

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div  class="photo col-lg-4 templatemo-item-col all soon">
                                <div class="meeting-item">
                                    <div class="thumb">
                                        <a href="@Url.Action("NewsList3", "EN" )"><img src="~/EN/assets/images/news-list3.svg" alt=""></a>
                                    </div>
                                    <div class="down-content d-flex flex-column">
                                        <div class="date pb-1">
                                            <h6 class="text-start">2023/02/14</h6>
                                        </div>
                                        <a href="@Url.Action("NewsList3", "EN" )">
                                            <h4 class="mb-4">
                                                Leading the Nation! 6-Week Healing of Chronic Wounds from Crush Fractures.

                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@* <script src="~/EN/~/assets/js/isotope.js"></script> *@
<script>
    const gap = 10; // 每张照片的间隙
    const photosContainer = document.getElementById('photos__container');
    const photos = document.getElementsByClassName('photo');

    function cascadeDisplay() {
        const photosContainerWidth = photosContainer.offsetWidth;
        const photoWidth = photos[0].offsetWidth;
        const columnsCount = Math.floor(photosContainerWidth / (photoWidth + gap)); // 计算一行的列数
        const columnHeights = Array(columnsCount).fill(0); // 初始化每列的高度数组

        for (let i = 0; i < photos.length; i++) {
            // 找到当前高度最小的列
            const minHeight = Math.min(...columnHeights);
            const columnIndex = columnHeights.indexOf(minHeight);

            // 设置当前照片的位置
            photos[i].style.top = minHeight + 'px';
            photos[i].style.left = columnIndex * (photoWidth + gap) + 'px';

            // 更新列高度
            columnHeights[columnIndex] += photos[i].offsetHeight + gap;
        }

        // 设置容器高度为最高列的高度
        photosContainer.style.height = Math.max(...columnHeights) + 'px';
    }

    // 页面加载时初始化布局
    window.onload = function () {
        cascadeDisplay();
    };

    // 窗口大小变化时重新布局
    window.onresize = function () {
        cascadeDisplay();
    };







</script>