
    <!-- Sub Header -->
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <div class="left-content">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="right-icons">
                        <ul>
                            <!--
                              <li><a href="https://www.facebook.com/BIONETCorp" target="_blank"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="https://www.linkedin.com/company/bionetcorp/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                              -->
                            <li>&nbsp;</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sub Header end-->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    @* pc & pad *@
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="@Url.Action("Index", "Home")" class="logo">
                            <img src="~/assets/images/logo.svg" style="width:70%;">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="@Url.Action("Index", "Home")" >首頁</a></li>
                            <li>
                                <a href="@Url.Action("News", "Home")">最新消息</a>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">關於訊聯細胞智藥</a>
                                <ul class="sub-menu">
                                <li><a href="@Url.Action("TxIntro", "Home")">細胞智藥簡介</a></li>
                                <li><a href="@Url.Action("CorpIntro", "Home")">訊聯集團優勢</a></li>
                                </ul>
                            </li>
                        <!--創新研發 -->
                            <li class="has-sub">
                                <a href="javascript:void(0)">創新研發</a>
                                <ul class="sub-menu">
                                <li><a href="@Url.Action("RawMaterial", "Home")">外泌體原料</a></li>
                                @*            <li><a href="#">再生醫療</a></li>*@
                                <li><a href="@Url.Action("ExosomeRD", "Home")">外泌體開發研究</a></li>
                                <li> <a href="@Url.Action("Pipeline", "Home")">產品研發進程</a> </li>
                                </ul>
                            </li>
                            <!-- 產品服務 -->
                            <li class="has-sub">
                                <a href="javascript:void(0)">產品服務</a>
                                <ul class="sub-menu">
                                    <!-- 第二層 - 外泌體 Exosome -->
                @*                     <li class="has-sub">
                                    <a href="javascript:void(0)" class="third-item">次世代外泌體</a>
                                        <!-- 第三層 -->
                                        <ul class="sub-menu third-menu">
                                            <li><a href="#">ANIKINE 臨床研究數據</a></li>
                                            <li><a href="#">ANIKINE 居家保養系列</a></li>
                                            <li><a href="#">ANIKINE 醫美保養系列</a></li>
                                            <li><a href="#">EXOVIA / ExoCake</a></li>
                                            <li><a href="#">自體血小板高濃度外泌體</a></li>
                                             <li><a href="@Url.Action("CellTherapy", "Home")">細胞製劑</a></li><!-- 第二層 - 細胞製劑 -->
                                             <li><a href="@Url.Action("CRDMO", "Home")">CRDMO代工服務</a></li>
                                        </ul>
                                    </li> *@
                                    <!-- 第二層 - 細胞製劑 -->
                                    <li><a href="@Url.Action("CellTherapy", "Home")">細胞製劑</a></li><!-- 第二層 - 細胞製劑 -->
                                    <li><a href="@Url.Action("CRDMO", "Home")">CRDMO代工服務</a></li>
                                </ul>
                            </li>
                        <!-- 研究成果 -->
                            <li><a href="#">研究成果</a></li>

                        <!-- 聯絡我們 -->
                            <li ><a href="@Url.Action("Contact", "Home")">聯絡我們</a></li>

                            <li style="padding-right:10px;"><a href="https://www.facebook.com/BIONETCorp" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li style="padding-left:0px;"><a href="https://www.linkedin.com/company/bionetcorp/" target="_blank"><i class="fa fa-linkedin"></i></a></li>

                        @* 切換中英 *@
                        @{
                            // 取得 controller 名稱並轉換為字串
                            var controllerNameObj = ViewContext.RouteData.Values["controller"];
                            var controllerName = controllerNameObj != null ? controllerNameObj.ToString() : string.Empty;

                            // 取得 action 名稱並轉換為字串，預設為 "Index"
                            var actionNameObj = ViewContext.RouteData.Values["action"];
                            var actionName = actionNameObj != null ? actionNameObj.ToString() : "Index";
                        }

                        <li style="padding-right:0px;">
                            @if (controllerName == "Home")
                            {
                                <!-- 當前是中文頁面，點擊切換到英文 -->
                                <a href="@Url.Action(actionName, "EN")">EN</a>
                            }
                            else if (controllerName == "EN")
                            {
                                <!-- 當前是英文頁面，點擊切換到中文 -->
                                <a href="@Url.Action(actionName, "Home")">繁中</a>
                            }
                            else
                            {
                                <!-- 當 controllerName 為 null 或其他值時，提供預設鏈接 -->
                                <a href="@Url.Action("Index", "Home")">繁中</a>
                            }
                        </li>

                        </ul>
                        <a class='menu-trigger'>
                            <span></span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                    @* pc & pad end *@

                   @*  mobile *@
                <div class="mobile-main-nav">

                    <a href="@Url.Action("Index", "Home")" class="logo d-flex align-items-center">
                            <img src="~/assets/images/logo.svg">
                        </a>
                        <a class="menu-trigger" id="nav-btn"><span></span></a>
                   

                   @*  d-flex flex-column w-100 pt-1 *@
                    <ul class="mobile-nav ">
                        <li><a href="@Url.Action("Index", "Home")" >首頁</a></li>
                        <li><a href="@Url.Action("News", "Home")">最新消息</a></li>
                        <li>
                            <a href="#">關於訊聯細胞智藥</a>
                            <ul class="mobile-sub-menu">
                                <li><a href="@Url.Action("TxIntro", "Home")">細胞智藥簡介</a></li>
                                <li><a href="@Url.Action("CorpIntro", "Home")">訊聯集團優勢</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">創新研發</a>
                            <ul class="mobile-sub-menu">
                                <li><a href="@Url.Action("RawMaterial", "Home")">外泌體原料</a></li>
                                @* <li><a href="#">再生醫療</a></li> *@
                                <li><a href="@Url.Action("ExosomeRD", "Home")">外泌體開發研究</a></li>
                                <li><a href="@Url.Action("Pipeline", "Home")">產品研發進程</a></li>
                            </ul>
                        </li>
                        <li>
                           <a href="#">產品服務</a>
                            <ul class="mobile-sub-menu">
                                @* <li>
                                    <a href="#">次世代外泌體</a>
                                    <ul class="mobile-sub-menu">
                                        <li><a href="#">ANIKINE 臨床研究數據</a></li>
                                        <li><a href="#"> ANIKINE 居家保養系列</a></li>
                                        <li><a href="#">ANIKINE 醫美保養系列</a></li>
                                        <li><a href="#">EXOVIA / ExoCake</a></li>
                                        <li><a href="#">自體血小板高濃度外泌體 </a></li>
                                    </ul>
                                </li> *@
                                <li><a href="@Url.Action("CellTherapy", "Home")">細胞製劑</a></li>
                                <li><a href="@Url.Action("CRDMO", "Home")">CRDMO代工服務</a></li>
                            </ul>
                        </li>
                        @* <li><a href="@Url.Action("#", "Home")">研究成果</a></li> *@
                        <li><a href="@Url.Action("Contact", "Home")">聯絡我們</a></li>
                        <li><a href="https://www.facebook.com/BIONETCorp" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/bionetcorp/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        @* 切換中英 *@
                        @{
                            // 取得 controller 名稱並轉換為字串
                            var controllerNameObj2 = ViewContext.RouteData.Values["controller"];
                            var controllerName2 = controllerNameObj2 != null ? controllerNameObj2.ToString() : string.Empty;

                            // 取得 action 名稱並轉換為字串，預設為 "Index"
                            var actionNameObj2 = ViewContext.RouteData.Values["action"];
                            var actionName2 = actionNameObj2 != null ? actionNameObj2.ToString() : "Index";
                        }

                        <li style="padding-right:0px;">
                            @if (controllerName2 == "Home")
                            {
                                <!-- 當前是中文頁面，點擊切換到英文 -->
                                <a href="@Url.Action(actionName, "EN")">EN</a>
                            }
                            else if (controllerName2 == "EN")
                            {
                                <!-- 當前是英文頁面，點擊切換到中文 -->
                                <a href="@Url.Action(actionName, "Home")">繁中</a>
                            }
                            else
                            {
                                <!-- 當 controllerName 為 null 或其他值時，提供預設鏈接 -->
                                <a href="@Url.Action("Index", "Home")">繁中</a>
                            }
                        </li>
                    </ul>

                </div>
                   @* mobile end *@
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
